* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2vw;
}

#container {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    background-color: blue;
}
