* {
    padding: 0;
    margin: 0;
    font-family: Pacifico, sans-serif;
}

body {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

#container {
    width: 512px;
    border: 8px solid black;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    background-color: white;
}

button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    color: red;
}

#random-color-btn:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#buttons-container {
    width: 512px;
    display: flex;
    justify-content: space-around;
}

.rainbow {
    animation-name: rainbow-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rainbow-animation {
    0% {
        color: red;
    }

    10% {
        color: orange;
    }

    20% {
        color: yellow;
    }

    30% {
        color: green;
    }

    40% {
        color: blue;
    }

    50% {
        color: indigo;
    }
    
    60% {
        color: violet;
    }

    70% {
        color: indigo;
    }

    80% {
        color: blue;
    }

    90% {
        color:green;
    }

    100% {
        color: red;
    }
}

